{% include "header.html" %}

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">Blogs</h1>
      </div>
    </div>
  </div>
<!-- background shapes -->
<img src="{{ url_for('static', filename='images/illustrations/page-title.png') }}" alt="illustrations" class="bg-shape-1 w-100">
<img src="{{ url_for('static', filename='images/illustrations/leaf-pink-round.png') }}" alt="illustrations" class="bg-shape-2">
<img src="{{ url_for('static', filename='images/illustrations/dots-cyan.png') }}" alt="illustrations" class="bg-shape-3">
<img src="{{ url_for('static', filename='images/illustrations/leaf-orange.png') }}" alt="illustrations" class="bg-shape-4">
<img src="{{ url_for('static', filename='images/illustrations/leaf-yellow.png') }}" alt="illustrations" class="bg-shape-5">
<img src="{{ url_for('static', filename='images/illustrations/dots-group-cyan.png') }}" alt="illustrations" class="bg-shape-6">
<img src="{{ url_for('static', filename='images/illustrations/leaf-cyan-lg.png') }}" alt="illustrations" class="bg-shape-7">
</section>

<!-- /page title -->

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      {% for post in all_posts %}
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card shadow">
            <img class="rounded card-img-top" src="{{ post.img_url }}" alt="post-thumb">
            <div class="card-body">
              <h4 class="card-title">{{ post.title }}</h4>
              <p class="cars-text">{{ post.subtitle }}</p>
              <a href="{{ url_for('blog_single', post_id=post.id) }}" class="btn btn-xs btn-primary">Read More</a>
              <!-- Only show delete button if user id is 1 (admin user) -->
              {% if current_user.id == 1: %}
              <a href="{{url_for('delete_post', post_id=post.id) }}" class="btn btn-xs btn-primary">Delete</a>
              {% endif %}
            </div>
          </article>
        </div>
        {% endfor %}
    </div>
    <!-- New Post -->
    <!-- Only show Create Post button if user id is 1 (admin user) -->
    {% if current_user.id == 1: %}
    <div class="d-flex justify-content-center mb-4">
      <a
        class="btn btn-primary"
        href="{{url_for('add_new_blog')}}"
        >Create New Blog</a
      >
    </div>
    {% endif %}
  </div>
</section>
<!-- /blog -->





{% include "footer.html" %}
