{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{ post.title }}</h1>
        
      </div>
    </div>
  </div>
<!-- background shapes -->
<img src="{{ url_for('static', filename='images/illustrations/page-title.png') }}" alt="illustrations" class="bg-shape-1 w-100">
<img src="{{ url_for('static', filename='images/illustrations/leaf-pink-round.png') }}" alt="illustrations" class="bg-shape-2">
<img src="{{ url_for('static', filename='images/illustrations/dots-cyan.png') }}" alt="illustrations" class="bg-shape-3">
<img src="{{ url_for('static', filename='images/illustrations/leaf-orange.png') }}" alt="illustrations" class="bg-shape-4">
<img src="{{ url_for('static', filename='images/illustrations/leaf-yellow.png') }}" alt="illustrations" class="bg-shape-5">
<img src="{{ url_for('static', filename='images/illustrations/dots-group-cyan.png') }}" alt="illustrations" class="bg-shape-6">
<img src="{{ url_for('static', filename='images/illustrations/leaf-cyan-lg.png') }}" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->


<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="content">
          <article>
            <div class="container px-4 px-lg-5">
                  <img src="{{ post.img_url }}" alt="post-thumb" class="img-fluid rounded float-center mr-4 mb-3">
                  <p class="font-secondary mb-5">Published on {{ post.date }} by {{ post.author.name }}</p> 
                  {{ post.body|safe }}

                  
                  <!--Only show Edit Post button if user id is 1 (admin user) -->
                  {% if current_user.id == 1 %}
                  <div class="d-flex justify-content-end mb-4">
                    <a
                      class="btn btn-primary float-right"
                      href="{{url_for('edit_post', post_id=post.id)}}"
                      >Edit Post</a
                    >
                  </div>
                  {% endif %}
          
                  <!-- Comments Area -->
                  <!-- Load the CKEditor -->
                  {{ ckeditor.load() }}
                  <!-- Configure it with the name of the form field from CommentForm -->
                  {{ ckeditor.config(name='comment_text') }}
                  <!-- Create the wtf quick form from CommentForm -->
                  {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                  <div class="comment">
                    <ul class="commentList">
                      <!-- Show all comments -->
                      {% for comment in post.comments: %}
                      <li>
                        <div class="commenterImage">
                          <img
                            src="{{ comment.comment_author.email | gravatar }}"
                          />
                        </div>
                        <div class="commentText">
                          {{comment.text|safe}}
                          <span class="sub-text">{{comment.comment_author.name}}</span>
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
          </article>
      </div>
    </div>
  </div>
</section>



{% include "footer.html" %}
